fastapi
uvicorn[standard]
sqlmodel
SQLAlchemy
Jinja2
python-multipart
pydantic

vosk
numpy
pandas
scikit-learn
vaderSentiment
nrclex
yake
meteostat
astral
pytz
python-dateutil==2.9.0.post0
requests
tqdm
matplotlib
seaborn
